.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:35px;

gap:20px;

}

.title{

font-size:42px;

font-weight:700;

margin-bottom:8px;

color:#222;

}

.subtitle{

color:#777;

font-size:16px;

}

.actions{

display:flex;

align-items:center;

gap:20px;

}

.searchBox{

width:380px;

height:52px;

background:white;

border:1px solid #e5e5e5;

border-radius:12px;

display:flex;

align-items:center;

padding-inline:18px;

}

.searchIcon{

color:#999;

margin-right:10px;

}

.searchBox input{

border:none;

outline:none;

width:100%;

font-size:15px;

background:transparent;

}

.addBtn{

height:52px;

padding:0 28px;

border:none;

border-radius:12px;

background:#ff6b00;

color:white;

font-weight:600;

display:flex;

align-items:center;

gap:10px;

transition:.3s;

}

.addBtn:hover{

background:#e85f00;

}
@media(max-width:992px){

.header{

flex-direction:column;

align-items:flex-start;

}

.actions{

width:100%;

flex-direction:column;

}

.searchBox{

width:100%;

}

.addBtn{

width:100%;

justify-content:center;

}

}

@media(max-width:576px){

.title{

font-size:30px;

}

.subtitle{

font-size:14px;

}

}