.tabs{

display:flex;

align-items:center;

gap:15px;

margin-bottom:35px;

flex-wrap:wrap;

}

.tab{

border:1px solid #e6d9d3;

background:white;

padding:10px 20px;

border-radius:30px;

font-weight:600;

font-size:14px;

color:#6b7280;

transition:.3s;

cursor:pointer;

}

.tab:hover{

background:#fff4ed;

color:#ff6b00;

border-color:#ff6b00;

}

.active{

background:#ff6b00;

color:white;

border-color:#ff6b00;

}

.active:hover{

background:#ff6b00;

color:white;

}
@media(max-width:768px){

.tabs{

gap:10px;

}

.tab{

font-size:13px;

padding:8px 16px;

}

}

@media(max-width:576px){

.tabs{

justify-content:center;

}

.tab{

width:100%;

}

}