.footer {
  background: #2f2f31;
  padding: 70px 0 30px;
  color: #d1d1d1;
  display: flex;
  flex-direction: row;
  justify-content: left;
  justify-content: left;
  align-items: start;
}

.footerContent {
  display: grid;
  grid-template-columns: 1.4fr 1fr 1fr 0.7fr 1.5fr;
  gap: 60px;
  align-items: start;
}

.logo {
  color: #f4d7c3;
  font-size: 28px;
  font-weight: 700;
  margin-bottom: 20px;
}

.text {
  color: #a8a8a8;
  line-height: 1.8;
  max-width: 250px;
  font-size: 15px;
}

.social {
  display: flex;
  gap: 18px;
  margin-top: 25px;
  font-size: 20px;
}

.social svg {
  cursor: pointer;
  transition: 0.3s;
}

.social svg:hover {
  color: #fff;
}

.title {
  color: #8d8d8d;
  font-size: 12px;
  letter-spacing: 2px;
  font-weight: 700;
  margin-bottom: 25px;
}

.links {
  list-style: none;
  padding: 0;
  margin: 0;
}

.links li {
  margin-bottom: 18px;
  color: #d1d1d1;
  cursor: pointer;
  transition: 0.3s;
}

.links li:hover {
  color: white;
}

.storeBtn {
  background: #282828;
  border-radius: 10px;
  padding: 18px 22px;
  margin-bottom: 18px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.storeBtn span {
  color: white;
  font-size: 22px;
  font-weight: 300;
  letter-spacing: 1px;
}

.storeBtn small {
  color: white;
  font-size: 14px;
  font-weight: 600;
}

.line {
  margin-top: 60px;
  border: none;
  border-top: 1px solid rgba(255, 255, 255, 0.08);
}

.copyright {
  text-align: center;
  margin-top: 25px;
  color: #8d8d8d;
  font-size: 14px;
}

@media (max-width: 992px) {
  .footerContent {
    grid-template-columns: 1fr 1fr;
    gap: 40px;
  }
}

@media (max-width: 768px) {
  .footerContent {
    grid-template-columns: 1fr;
  }
}