.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 15px 40px;
  background: white;
}

/* Logo */
.logo h1 {
  color: #a04100;
  font-weight: bold;
  cursor: pointer;
}

/* Search */
.searchInput {
  width: 350px;
  padding: 12px 20px;
  border: 1px solid #e2bfb0;
  border-radius: 25px;
  outline: none;
}

/* Navigation */
.navList {
  display: flex;
  gap: 25px;
  list-style: none;
}

.navList a {
  text-decoration: none;
  color: #444;
  font-weight: 500;
}

.active {
  border-bottom: 3px solid #a04100;
  padding-bottom: 5px;
}

.active a {
  color: #a04100;
}

/* Right Side */
.actions {
  display: flex;
  align-items: center;
  gap: 15px;
}

.locationBtn {
  border: none;
  background: #f8e6dc;
  color: #a04100;
  padding: 10px 15px;
  border-radius: 20px;
  cursor: pointer;
}

.cart {
  position: relative;
  padding: 10px;
  cursor: pointer;
  font-weight: 500;
}

.badge {
  position: absolute;
  top: -5px;
  right: -5px;
  background: #a04100;
  color: white;
  width: 18px;
  height: 18px;
  border-radius: 50%;
  font-size: 12px;

  display: flex;
  align-items: center;
  justify-content: center;
}

.signBtn {
  border: none;
  background: #a04100;
  color: white;
  padding: 10px 18px;
  border-radius: 25px;
  cursor: pointer;
}