.header{

display:flex;

justify-content:space-between;

align-items:center;

margin-bottom:25px;

}

.header h2{

font-size:28px;

font-weight:700;

}

.viewBtn{

border:none;

background:transparent;

color:#ff6b00;

font-weight:600;

}

.viewBtn:hover{

text-decoration:underline;

}@media(max-width:768px){

.header{

flex-direction:column;

align-items:flex-start;

gap:10px;

}

.header h2{

font-size:22px;

}

}